<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div id="dataset" class="dataset">

    <!-- Extra Metadata Section -->
    <h3>Extra Information</h3>
    <div id="dataset-information">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for='i, (key, value) in enumerate(c.extra_metadata.items())'
          rel="dc:relation" resource="_:extra${i}">
          <td class="dataset-label" property="rdfs:label">${key}</td>
          <td class="dataset-details" property="rdf:value">${value}</td>
        </tr>
      </tbody>
    </table>

    </div>

  </div> <!-- /dataset -->

</html>
