<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div id="dataset" class="dataset">
    <py:choose>
        <py:when test="'metadata-updated' in c.extra_metadata">
            <h3>Last updated: <b>${c.extra_metadata['metadata-updated'].strftime('%Y-%m-%d %H:%M:%S')}</b></h3>
        </py:when>
        <py:otherwise>
            <h3>Last updated: <b>Not available</b></h3>
        </py:otherwise>
    </py:choose>
    
    <py:if test="c.user is not ''">
      <form 
        id="clear-data" 
        action="/dataset/metadata/${c.id}" 
        method="post"
        xmlns:i18n="http://genshi.edgewall.org/i18n"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude">
        <button class="btn btn-primary" type="submit" id="button">Clear Metadata</button>
        <input type="hidden" name="clear" value="submitted" />
      </form>
    </py:if>

    <!-- Extra Metadata Section -->
    <h3>Extra Information</h3>
    <div id="dataset-information">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody py:if="len(c.extra_metadata) > 0">
        <tr rel="dc:relation">
                <td class="dataset-label" property="rdfs:label">VoID description</td>
                <td class="dataset-details" property="rdf:value"><a href="/dataset/metadata/${c.id}/void.rdf">void.rdf</a></td>
        </tr>
        <tr py:for='i, (key, value) in enumerate(c.extra_metadata.items())'
          rel="dc:relation" resource="_:extra${i}">
          <td class="dataset-label" property="rdfs:label">${key}</td>
          <td class="dataset-details" property="rdf:value">${str(value)}</td>
        </tr>
      </tbody>
    </table>

    </div>

  </div> <!-- /dataset -->

</html>
