<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div id="dataset" class="dataset">
    <h3>Metadata Task Status: <b>${c.metadata_task_status}</b></h3>
    
    <form 
      id="clear-data" 
      action="/dataset/metadata/${c.id}" 
      method="post"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
      <button class="btn btn-primary" type="submit" id="button">Clear Metadata</button>
      <input type="hidden" name="clear" value="submitted" />
    </form>

    <!-- Extra Metadata Section -->
    <h3>Extra Information</h3>
    <div id="dataset-information">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for='i, (key, value) in enumerate(c.extra_metadata.items())'
          rel="dc:relation" resource="_:extra${i}">
          <td class="dataset-label" property="rdfs:label">${key}</td>
          <td class="dataset-details" property="rdf:value">${str(value)}</td>
        </tr>
      </tbody>
    </table>

    </div>

  </div> <!-- /dataset -->

</html>
